
@*@{
    Layout = "~/Views/Shared/_Layout.cshtml";
}*@

<!DOCTYPE html>

<html>
<head>
    @*@Styles.Render("~/Content/css")
    @Scripts.Render("~/bundles/modernizr")*@
</head>
<body>
    @*<div class="navbar navbar-inverse navbar-fixed-top">
        <div class="container">
            <div class="navbar-collapse collapse">
                <ul class="nav navbar-nav">
                    <li>@Html.ActionLink("Index", "Index", "Details")</li>
                </ul>
            </div>
        </div>
    </div>*@
    <div class="container body-content">
        <ul class="nav navbar-nav">
            <li>@ViewBag.Message</li>
        </ul>
    </div>
</body>
</html>
